{% extends 'cal/base.html' %}


{% block content %}

<div class="card w-75">
  <div class="card-body">
    <h3 class="card-title">Please Enter the monthly payment amount</h3>
    <h5 class="card-text">We'll provide you the amont in Weekly, Bi-Weekly, Semi Monthly and yearly payment.</h5>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
 
             <form action="result" method="post">
               {% csrf_token %}
               
                Monthly Payment $: <input type="text" name="amount">
                <input type="submit">
             </form>  

        </div>
    </div>

  </div>
</div>

    
{% endblock %}