

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Matrix</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'conversion' %}">Conversion <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="{% url 'test' %}">Test <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link disabled" href="https://www.markham.ca/wps/portal/home/about/COVID-19-Information">COVID-19</a>
      <a class="nav-item nav-link active" href="{% url 'about' %}">About</a>
 

      
   
      </div>
  </div>
    <div class="cfixed-right">
       <div class="navbar-nav">
           

                <span class="hello-msg">Hello, {{request.user}}</span>
                <a class="nav-item nav-link active" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
           
                <a class="nav-item nav-link active" href="{% url 'register' %}">Register <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
           
                <a class="nav-item nav-link active" href="http://127.0.0.1:8000/admin" tabindex="-1" aria-disabled="true">Admin</a>

      
     
      
      </div>
    </div>
</nav>


<div class="fixed-bottom">
    <nav class="nav nav-pills flex-column flex-sm-row">
      <a class="flex-fill text-center nav-link  text-white" href="#">Company</a>
      <a class="flex-sm-fill text-lg-center text-white nav-link" href="#">Developers</a>
      <a class="flex-sm-fill text-sm-center nav-link" href="#">Resource</a>
      <a class="flex-sm-fill text-sm-center nav-link" href="#">Product Help</a>

    </nav>
    <p class="font-italic text-right disabled">Copyright Matrix&copy; {% now 'Y' %}.</p>
</div>