{% extends 'cal/base.html' %}


{% block content %}


<div class="card">
  <h5 class="card-header">
      Hello, {{greet}}
   


  </h5>
  <div class="card-body">
    <h5 class="card-title">Please Enter the payment amount</h5>
    <p class="card-text">We'll provide you the amounts in <b>Monthly, Weekly, Bi-Weekly, Semi Monthly and yearly payment.</b></p>

            <div class="input-group col-sm-6" >
            <form action="result" method="post">
               {% csrf_token %}
                <select class="custom-select" name="inputSelect1" aria-label="Example select with button addon">
                        <option selected>Choose...</option>
                        <option value="1">Weekly</option>
                        <option value="2">Monthly</option> 
                        <option value="3">Bi-weekly</option>
                        <option value="4">Semi-monthly</option>
                        <option value="5">Yearly</option>
                </select>
            
                <div class="card-body">           
                    <p class="card-text"> Payment amount $: <input type="text" name="month_amount">  </p>             
                    <input type="submit" a href="{% url 'result' %}" class="btn btn-primary">
                </div>
            </form>  
        
      </div>
  </div>
</div>

    
{% endblock %}